name: E2E Tests

on:
  push:
  pull_request:

jobs:
  test-e2e:
    name: Run on Ubuntu
    runs-on: ubuntu-latest
    steps:
      - name: Clone the code
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: go.mod

      - name: Create Kubernetes cluster
        uses: palmsoftware/quick-k8s@v0.0.47
        with:
          numControlPlaneNodes: 1
          numWorkerNodes: 1
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Running Test e2e
        run: |
          go mod tidy
          make test-e2e
